﻿@using CPh.Vape.Models
@model CPh.Vape.ViewModels.EvaluationCreateViewModel
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>Evaluation</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-12">
            <label asp-for="SelectedVendorId" class="control-label"></label>
            <span asp-validation-for="SelectedVendorId" class="text-danger"></span>
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Vendor Code</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var vendor in Model.VendorList)
                {
                    <tr>
                        <td><input type="radio" asp-for="SelectedVendorId" value="@vendor.Id" /></td>
                        <td>@vendor.VendorCode</td>
                        <td>@vendor.Name</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EvaluationYear" class="control-label"></label>
                <select asp-for="EvaluationYear" class="form-control"></select>
                <span asp-validation-for="EvaluationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedEvaluationTypeId" class="control-label"></label>
                <select asp-for="SelectedEvaluationTypeId" asp-items="@Model.EvaluationTypeList" class="form-control"></select>
                <span asp-validation-for="SelectedEvaluationTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductType" class="control-label"></label>
                <select asp-for="ProductType" asp-items="@Html.GetEnumSelectList<Evaluation.ProductType>()" class="form-control"></select>
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewFrequency" class="control-label"></label>
                <select asp-for="ReviewFrequency" asp-items="@Html.GetEnumSelectList<Evaluation.ReviewFrequency>()" class="form-control"></select>
                <span asp-validation-for="ReviewFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quality" class="control-label"></label>
                <input asp-for="Quality" class="form-control" />
                <span asp-validation-for="Quality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceChanges" class="control-label"></label>
                <input asp-for="PriceChanges" class="form-control" />
                <span asp-validation-for="PriceChanges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Delivery" class="control-label"></label>
                <input asp-for="Delivery" class="form-control" />
                <span asp-validation-for="Delivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service" class="control-label"></label>
                <input asp-for="Service" class="form-control" />
                <span asp-validation-for="Service" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <textarea asp-for="Comments" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_DataTablesCreateInit");}
    <script type="text/javascript" src="~/js/year-select.js"></script>
    <script type="text/javascript">
        var yearNow = new Date().getFullYear();
        $('#EvaluationYear').yearselect({
            start: yearNow - 5,
            end: yearNow,
            order: 'desc'
        });
    </script>
}
