﻿@model CPh.Vape.Models.Evaluation

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<span class="pull-right"><a asp-action="Download" asp-route-id="@Model.Id" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i> Download</a></span>

<div>
    <h4>Evaluation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>
        <dd>
            @($"VPE-{Model.Serial:000000}")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendor.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @($"{Model.Date:D}")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceChanges)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceChanges)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delivery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delivery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Service)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EvaluationType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EvaluationType.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EvaluationYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EvaluationYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReviewFreq)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewFreq)
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span style="font-weight: bold">Prepared By</span>
            </div>
            <div class="panel-body">
                @Html.DisplayFor(model => model.Preparer.Name)
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span style="font-weight: bold">Checked By</span>
                <div class="pull-right">
                    <a class="btn btn-danger btn-xs" asp-action="Create" asp-controller="Checkers" asp-route-id="@Model.Id">Add New</a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    @foreach (var checker in Model.Checkers)
                    {
                        <tr>
                            <td>
                                @checker.User.Name
                            </td>
                            <td>
                                <a asp-controller="Checkers" asp-action="Delete" asp-route-id="@checker.Id"><i class="glyphicon glyphicon-trash pull-right" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span style="font-weight: bold">Approved By</span>
                <div class="pull-right">
                    <a class="btn btn-danger btn-xs" asp-action="Create" asp-controller="Approvers" asp-route-id="@Model.Id">Add New</a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    @foreach (var approver in Model.Approvers)
                    {
                        <tr>
                            <td>
                                @approver.User.Name
                            </td>
                            <td>
                                <a asp-controller="Approvers" asp-action="Delete" asp-route-id="@approver.Id"><i class="glyphicon glyphicon-trash pull-right" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

