﻿@model CPh.Vape.ViewModels.EvaluationEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Evaluation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="EvaluationYear" class="control-label"></label>
                <input asp-for="EvaluationYear" class="form-control" />
                <span asp-validation-for="EvaluationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedEvaluationTypeId" class="control-label"></label>
                <select asp-for="SelectedEvaluationTypeId" asp-items="Model.EvaluationTypeList" class="form-control"></select>
                <span asp-validation-for="SelectedEvaluationTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductType" class="control-label"></label>
                <select asp-for="ProductType" class="form-control" asp-items="@Html.GetEnumSelectList<Evaluation.ProductType>()"></select>
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewPeriod" class="control-label"></label>
                <select asp-for="ReviewPeriod" asp-items="@Html.GetEnumSelectList<Evaluation.ReviewFrequency>()" class="form-control"></select>
                <span asp-validation-for="ReviewPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quality" class="control-label"></label>
                <input asp-for="Quality" class="form-control" />
                <span asp-validation-for="Quality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceChanges" class="control-label"></label>
                <input asp-for="PriceChanges" class="form-control" />
                <span asp-validation-for="PriceChanges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Delivery" class="control-label"></label>
                <input asp-for="Delivery" class="form-control" />
                <span asp-validation-for="Delivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service" class="control-label"></label>
                <input asp-for="Service" class="form-control" />
                <span asp-validation-for="Service" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <textarea asp-for="Comments" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Back to Evaluation</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}