﻿@model IEnumerable<CPh.Vape.Models.Evaluation>

@{
    ViewData["Title"] = "Index";
}

<h2>Vendor Evaluations</h2>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Serial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvaluationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvaluationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewFreq)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@($"VPE-{item.Serial:D6}")</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EvaluationType.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EvaluationYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewFreq)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_DataTablesInit");
    }
}