﻿html * {
    font-family: Asap;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@font-face {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    src: local('Asap'), local('Asap-Regular'), url(../lib/asap-googlefont/Asap-Regular.ttf);
}

@font-face {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 700;
    src: local('Asap Bold'), local('Asap-Bold'), url(../lib/asap-googlefont/Asap-Bold.ttf);
}

@font-face {
    font-family: 'Asap';
    font-style: italic;
    font-weight: 400;
    src: local('Asap Italic'), local('Asap-Italic'), url(../lib/asap-googlefont/Asap-Italic.ttf);
}

@font-face {
    font-family: 'Asap';
    font-style: italic;
    font-weight: 700;
    src: local('Asap Bold Italic'), local('Asap-BoldItalic'), url(../lib/asap-googlefont/Asap-BoldItalic.ttf);
}

.btn-space {
    margin-bottom: 1em;
}