﻿@model CPh.Vape.ViewModels.UserSearchViewModel

@{
    ViewData["Title"] = "Confirm User Add";
}

<h2>Confirm User Add</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-for="Query" value="XXX"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedGlobalId" class="control-label"></label>
                <input asp-for="SelectedGlobalId" class="form-control"/>
                <span asp-validation-for="SelectedGlobalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedName" class="control-label"></label>
                <input asp-for="SelectedName" class="form-control"/>
                <span asp-validation-for="SelectedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
