﻿@model CPh.Vape.ViewModels.UserSearchViewModel
@{
    ViewData["Title"] = "Add User";
}

<h2>Add User</h2>

<div class="row">
    <div class="form-horizontal">
        <form asp-action="Search">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Query" class="control-label"></label>
                    <input asp-for="Query" class="form-control" placeholder="User" />
                    <span asp-validation-for="Query" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>

@if (Model?.Users != null)
{
    <h3>Results</h3>
    <form asp-action="ConfirmAdd">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Full Name</th>
                        <th>E-Mail</th>
                        <th>Global ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>
                                <input type="radio" asp-for="SelectedGlobalId" value="@user.GlobalId"/>
                            </td>
                            <td>@user.Name</td>
                            <td>@user.Email</td>
                            <td>@user.GlobalId</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </form>
}