﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <object class="img-responsive" data="images/Logo_Horizontal.svg" style="width: 100%;"></object>
        </div>
    </div>
            
    <h1>VPE</h1>
    <p class="lead">Vendor Performance Evaluation</p>
</div>
