﻿
@{
    ViewData["Title"] = "Administration";
}

<h2 class="text-center" style="margin-bottom: 1em">Administration</h2>

<div class="row">
    <div class="col-md-6 col-md-offset-3 btn-space">
        <a asp-area="" asp-controller="Vendors" asp-action="Index" class="btn btn-primary btn-block btn-lg"><i class="glyphicon glyphicon-briefcase"></i> Vendors</a>
        <a asp-area="" asp-controller="Users" asp-action="Index" class="btn btn-primary btn-block btn-lg"><i class="glyphicon glyphicon-user"></i> Users</a>
        <a asp-area="" asp-controller="EvaluationTypes" asp-action="Index" class="btn btn-primary btn-block btn-lg"><i class="glyphicon glyphicon-list-alt"></i> Evaluation Types</a>
    </div>
</div>

