﻿@model CPh.Vape.ViewModels.CheckersViewModel

@{
    ViewData["Title"] = "Add New Approver";
}

<h2>Add New</h2>

<h4>Checker</h4>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="EvaluationId" />
    <div class="row">
        <div class="col-md-12">
            <span asp-validation-for="SelectedCheckerId" class="text-danger"></span>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Global ID</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.CheckersList)
                    {
                        <tr>
                            <td><input type="radio" asp-for="SelectedCheckerId" value="@user.Id" /></td>
                            <td>@user.Name</td>
                            <td>@user.GlobalId</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_DataTablesInit"); }
}
