﻿@model CPh.Vape.Models.EvaluationType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EvaluationType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QualityPercent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QualityPercent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceChangesPercent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceChangesPercent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryPercent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryPercent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServicePercent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServicePercent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
