﻿@model CPh.Vape.Models.EvaluationType

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>EvaluationType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualityPercent" class="control-label"></label>
                <input asp-for="QualityPercent" class="form-control" />
                <span asp-validation-for="QualityPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceChangesPercent" class="control-label"></label>
                <input asp-for="PriceChangesPercent" class="form-control" />
                <span asp-validation-for="PriceChangesPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryPercent" class="control-label"></label>
                <input asp-for="DeliveryPercent" class="form-control" />
                <span asp-validation-for="DeliveryPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicePercent" class="control-label"></label>
                <input asp-for="ServicePercent" class="form-control" />
                <span asp-validation-for="ServicePercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
