﻿@model IEnumerable<CPh.Vape.Models.EvaluationType>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QualityPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceChangesPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicePercent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualityPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceChangesPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicePercent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
