﻿@using CPh.AdQuery.Extensions;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"] - VPE</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/lib/datatables.net-bs/css/dataTables.bootstrap.css" />
    <link rel="stylesheet" href="~/lib/datatables.net-buttons-bs/css/buttons.bootstrap.css"/>
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/ui-lightness/jquery-ui.css"/>
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/ui-lightness/theme.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><strong>VPE</strong></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Evaluations" asp-action="Index">Forms</a></li>
                    <li><a asp-area="" asp-controller="Administration" asp-action="Index">Administration</a></li>
                </ul>
                <p class="nav navbar-text navbar-right">Hello, @User.FullName()!</p>
            </div>
        </div>
    </nav>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; 2017 - Chiyoda Philippines Corporation - Vendor Performance Evaluation</p>
    </footer>
</div>
    
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/datatables.net/js/jquery.dataTables.js"></script>
<script src="~/lib/datatables.net-bs/js/dataTables.bootstrap.js"></script>
<script src="~/lib/datatables.net-buttons/js/dataTables.buttons.js"></script>
<script src="~/lib/datatables.net-buttons/js/buttons.flash.js"></script>
<script src="~/lib/datatables.net-buttons/js/buttons.html5.js"></script>
<script src="~/lib/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
<script src="~/lib/jszip/dist/jszip.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>



@RenderSection("Scripts", required: false)
</body>
</html>
